

body {

  /* background-image: url("../images/sky.jpg"); */

  background-repeat: no-repeat;

  background-attachment: fixed;

  background-size:cover;

}



.col-md-7{

  background-image: url("../images/chat_back.jpg");

  background-size: 100%;

  background-position: center;

 

  border-bottom-right-radius: 25px;

  padding: 0%;

}



.col-md-5{

  background-color:cornsilk;

  padding: 0%;

  border-bottom-left-radius: 25px;

}




.rowChat{

  display: flex !important;

  flex-wrap: nowrap !important;

  border-radius: 25px;
  min-height: 70vh;
  min-width: 60vw;
  

}

.mt-5{

  margin-top: 0px !important;

  height: 100%;

}

.col-sm-5{

  background-color: #f1f1f1;

  height: 100%;



}

.col-sm-7{

  height: 100px;

}





time[datetime] {

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 1vw;

  

}





.chat-input{

  display: inline-block;

  position: absolute;

  bottom: 3;

  background-color: #fff;

  border: 1px solid #ced4da;

  padding: 10px;

  font-size: 16px;

  overflow: auto;

  outline: none;

  width: 81%;

}



/* Send button */

.send-button {

  position: absolute;

  width: 25%;

  border: none;

  background-color: #4CAF50;

  color: white;

  font-size: 16px;

  cursor: pointer;

  transition: background-color 0.3s ease;

  right: 0;

  bottom: 0;

  height: 48px;

}



/* Send button hover effect */

.send-button:hover {

  background-color: #3e8e41;

}





.card-body-answer{

  border-radius: 25px;

  border-top-left-radius: 0px;



}



.prof{

  

  float: right;

}

.me{

  background-color:#ced4da !important;

  height: 72px;

}



.user-icon {



  background-image: url("https://bootdey.com/img/Content/user_1.jpg");



  background-size: cover;



  background-position: center;



  width: 50px;



  height: 50px;



  border-radius: 50%;



  margin-right: 10px;



}

.user-icon-male {



  background-image: url("https://img.icons8.com/color/36/000000/administrator-male.png");



  background-size: cover;



  background-position: center;



  width: 50px;



  height: 50px;



  border-radius: 50%;



  margin-right: 10px;



}



.user-icon-female {



  background-image: url("https://img.icons8.com/office/36/000000/person-female.png");



  background-size: cover;



  background-position: center;



  width: 50px;



  height: 50px;



  border-radius: 50%;



  margin-right: 10px;



}




.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}



.contactss{

  max-height: 60px;

}



#myInfo{

  border-top-right-radius: 0%;

}



#chatInfo{

  border-top-left-radius: 0%;

}

.input-group{

  position:absolute !important;

  bottom:0;

}



.user-ms{

  max-width: 70%;

  float: left;

}



.friend-ms{

  max-width: 70%;

  float: right;

}



.ms{

  margin-bottom: 2% !important;

}



#chatDate{

  text-align: center;

}

#name{

  width: 100%;

}


.button {

  position: absolute;

  top: 0;

  right: 0;

  margin-top: 1%;

  margin-right: 1%;

  max-height: 5%;
  
  max-width: 5%;



}
.padd{
  padding-left: 0 !important;
  padding-right: 0 !important;

}
.message-container{
 height:400px;
 overflow-y:scroll;
  
}













