

body{
	background-image:url("../images/sky.jpg");
        background-size: cover;
	background-repeat: no-repeat;
        background-attachment: fixed;
	background-position: center;
}

 .card {
      margin-top: 10px;
      padding: 20px;
      background-color: aliceblue;
      box-shadow: 0px 0px 10px #ccc;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      max-height: 100%;
      border-radius: 20px;
 }
.name{
	text-align: center;
}
.form-group{
	margin-bottom: 8px;
}
.rowReg {
        min-width: 60vw;
      }
#friendspic{
	height:90px;
}
